@{
    ViewData["Title"] = "Banana";
}

<div class="home">
    <div class="home01">
        <div class="home02">
            <a href="~/Views/Home/Index.cshtml">
                <img id="myPhoneImage" src="~/Content/images/myPhone.jpg" />
                <p>myPhone</p>
            </a>
        </div>
        <div class="home02">
            <a href="~/Views/Home/makBook.cshtml">
                <img id="makBookImage" src="~/Content/images/makBook.jpg" />
                <p>makBook</p>
            </a>
        </div>
    </div>
    <div class="home01">
        <div class="home02">
            <a href="~/Views/Home/myWatch.cshtml">
                <img id="myWatchImage" src="~/Content/images/myWatch.jpg" />
                <p>myWatch</p>
            </a>
        </div>
        <div class="home02">
            <a href="~/Views/Home/myPad.cshtml">
                <img id="myPadImage" src="~/Content/images/myPad.png" />
                <p>myPad</p>
            </a>
        </div>
    </div>
</div>